.sidebar-header {
  padding: 0.7em var(--sidebar-padding);
  margin-bottom: 2em;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  .sidebar-logo {
    margin: 0;
    width: 7em;
  }

  button {
    margin-inline-start: auto;
  }
}
