.form-field {
  width: 100%;
  color: var(--text-color);

  .field-label-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .field-label {
      font-weight: 600;
      text-transform: capitalize;

      .required-field {
        color: red;
      }
    }

    .field-label-link {
      font-weight: 500;
      font-size: 0.9rem;
      margin-inline-start: auto;
    }
  }

  .field-input-wrapper {
    display: flex;
    align-items: center;
    justify-self: center;

    overflow: hidden;
    border: var(--border);
    border-radius: var(--border-radius);

    margin: 0.2em 0;
    background-color: var(--background-color-grey-light);

    .field-input {
      width: 100%;
      height: 100%;
      font-size: 1rem;
      padding: 0.55em;

      border: none;
      outline: none;
      text-overflow: ellipsis;

      color: var(--text-color-grey);
      caret-color: var(--primary-color);
      accent-color: var(--primary-color);
      background-color: transparent;

      &::placeholder {
        color: var(--background-color-grey-dark);
      }
    }

    .field-input-icon-wrapper {
      width: 1.4rem;
      margin: 0 0.4em 0 0.2em;
      display: flex;
      align-items: center;
      justify-content: center;

      & > *,
      & svg {
        width: 100%;
        height: 100%;
        fill: var(--primary-color);
      }
    }

    &:focus-within {
      border-color: var(--primary-color);
    }
  }

  .field-error-wrapper {
    display: block;
    min-height: 1.2em;
    font-size: 0.8rem;
    color: var(--error-color);
  }

  &.invalid {
    .field-input-wrapper {
      border-color: var(--error-color);
      background-color: var(--error-color-light);
    }
  }

  &:not(:last-of-type) {
    margin-bottom: var(--field-spacing);
  }
}
