body {
  font-family: "Poppins", sans-serif;
  font-family: "Quicksand", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font: normal 500 1rem "Quicksand", "Poppins", "Lato", "Open Sans", sans-serif;
  font-family: "Quicksand", sans-serif;
}

input,
select,
label,
textarea {
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  font-style: inherit;
  font-weight: inherit;
  font: normal 500 1rem "Quicksand", sans-serif;
  font-family: "Quicksand", sans-serif;
}

button {
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
}
