.button {
  border: none;
  outline: none;
  user-select: none;
  height: 2.4rem;
  border-radius: var(--border-radius);

  padding: 0.4em 1.2em;
  width: max-content;

  color: var(--background-color);
  background-color: var(--primary-color);
  transition: background-color 0.2s, transform 0.2s;

  display: flex;
  align-items: center;
  justify-content: center;

  &.transparent {
    color: var(--primary-color);
    background-color: transparent;

    .icon-wrapper {
      & > * {
        fill: var(--primary-color);
      }
    }

    &:hover {
      background-color: var(--primary-color-light);
    }

    &:focus {
      background-color: var(--primary-color-light);
    }

    &:disabled {
      cursor: wait;
      background-color: var(--primary-color-light);

      &:hover {
        background-color: var(--primary-color-light);
      }
    }
  }

  &.see-through {
    color: var(--primary-color);
    background-color: var(--primary-color-light);

    .icon-wrapper {
      & > * {
        fill: var(--primary-color);
      }
    }

    &:hover {
      background-color: var(--primary-color-hover);
    }

    &:focus {
      background-color: var(--primary-color-hover);
    }

    &:disabled {
      cursor: wait;
      background-color: var(--primary-color-light);

      &:hover {
        background-color: var(--primary-color-light);
      }
    }
  }

  .text-wrapper {
    margin: 0;
    display: block;
    white-space: nowrap;
  }

  .icon-wrapper {
    width: 1.4rem;
    margin-inline-start: 0.4em;

    & > * {
      width: 100%;
      height: 100%;
      fill: var(--background-color);
      transition: fill 0.2s ease;
    }
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  .button-spinner {
    display: block;
    font-size: 1.4em;
    transform-origin: center center;
    animation: rotate 1.3s linear 0s infinite normal forwards;
  }

  &.invert-style {
    border: 2px solid;
    padding: 0.55em 1em;
    background-color: transparent;
    border-color: var(--primary-color);
    transition: background-color 0.2s;
  }

  &:disabled {
    cursor: wait;
    background-color: var(--primary-color-dark);

    &:hover {
      background-color: var(--primary-color-dark);
    }
  }

  &:hover {
    transform: translateY(-2px);
    background-color: var(--primary-color-dark);
  }

  &:focus {
    background-color: var(--primary-color-dark);
  }

  &:active {
    transform: scale(0.99);
  }
}
