.dashboard-sidebar {
  .sidebar-header {
    padding-left: 0;
    padding-right: 0;
    justify-content: space-between;

    .logo {
      margin: 0;
      width: 7em;
    }

    button {
      margin-inline-start: auto;
    }
  }

  .sidebar-footer {
    padding-left: 0;
    padding-right: 0;
  }
}
